#nonAccessibleJSImage {
  height: 300px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

#nonAccessibleJSImage:hover {
  height: 400px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  cursor: pointer;
}


.nonAccessibleSelect {
  height: 30px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  padding-bottom: 3%;
  display: grid;
  grid-template-rows: 25px 25px;
  grid-template-columns: 50% 50%;
}


.NonAccessibleComponentHeader {
  font-size: 30px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}


.learn {
  font-size: 30px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  color: rgb(197, 197, 197);
}


.nonAccessibleExpressLabel {
  width: 90%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(0, 162, 255, 0.678);
}

.nonAccessibleExpress {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 90%;
  grid-column-start: 2;
  grid-column-end: 3;

}


.nonAccessibleJS {
  width: 90%;
  height: 100%;
  margin-left: 0;
  top: 0;
  grid-row-start: 2;
  grid-row-end: 3;

}

.nonAccessibleJSLabel {
  background-color: rgba(65, 125, 238, 0.705);
  top: 0px;
  height: 30px;
  width: 90%;
  grid-row-start: 1;
  grid-row-end: 2;
}